/* -------- *
 *  Footer  *
 * -------- */

footer {
  background: $tertiary;
  color: $secondary;
}

footer ul {
  width: 100%;
  max-width: $max;
  margin: 0 auto;
  padding: 2em 1.5em;
  @include bp(medium) {
    padding: 0 3em;
    height: 8em;
  }
}

footer ul li {
  display: inline-block;
  padding: .25em 0;
  width: 100%;
  @include bp(medium) {
    width: auto;
    padding: .25em 0 !important;
  }
  &:last-child {
    padding: 1em 0 .25em;
  }
}
