/* ------ *
 *  Home  *
 * ------ */

.bio {
  margin: 0 0 2em 0;
  @include bp(medium) {
    margin: 0 0 4em 0;
  }
}

.bio__img {
  background: $secondary;
  width: 100%;
  border-radius: 2px;
  margin: 0 0 2em 0;
  @include bp(medium) {
    position: relative;
    top: 1em;
    position: sticky;
    position: -webkit-sticky;
    margin: 0;
  }
}

.bio__container {
  @include bp(medium) {
    border-left: 2em solid white;
  }
}

.bio__text--long {
  display: none;
}

.bio--expanded .bio__text--long {
  display: block;
}

.bio h1, .bio h2, .bio h3 {
  font-size: 3em;
  font-weight: bold;
  margin: 0 0 1rem 0;
}


.work {}
.work__list {}

.work__list li {
  position: relative;
  margin: 0 0 2em 0;
  width: 100%;
  border-bottom: 1px solid $secondary;
  @include bp(medium) {

  }
}

.work__list a {
  text-decoration: none;
}

.work__title {
  font-size: 2em;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.work__description {
  color: gray;
}





// Right Side
.work__read {
  border: 1px solid $secondary;
  background: $secondary;
  border-radius: 2px;
  padding: 1em;
  text-transform: capitalize;
  margin-left: 1em;
  border: 1px solid $secondary;
  @include bp(medium) {
    text-align: right;
    float: right;
  }
  &:hover {
    border-color: darken($secondary, 10%);
  }
}

.work__live {
  background: $secondary;
  border-radius: 2px;
  padding: 1em 1em 1em 2em;
  border: 1px solid $secondary;
  text-transform: capitalize;
  margin-left: 1em;
  position: relative;
  @include bp(medium) {
    text-align: right;
    float: right;
  }
  &:before {
    content: "";
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: gray;

  }
}

.work__live:hover {
  border-color: darken($secondary, 10%);
  color: $base !important;
  &:before {
    background: #fdc02f;
  }
}

.work__live:visited {
  &:before {
    background: #fdc02f;
  }
}
