/* ------ *
 *  Home  *
 * ------ */

.bio {
  margin: 0 0 2em 0;
}

.bio__img {
  background: $secondary;
  width: 100%;
  border-radius: 2px;
  margin: 0 0 2em 0;
}

.bio__container {

}

.bio__text {}
.bio__text--short {}
.bio__text--long {
  display: none;
}

.bio h1, .bio h2, .bio h3 {
  font-size: 3em;
  font-weight: bold;
  margin: 0 0 1rem 0;
}


.work {}
.work__list {}

.work__list li {
  position: relative;
  margin: 0 0 1em 0;
  border: 1px solid $secondary;
}

.work__list h4 {
  display: flex;
  flex-fow: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $base;
  background: rgba(0,0,0,.7);
  opacity: 0;
  z-index: 1;
}

.work__list li:hover h4 {
  opacity: 1;
}
