/* ------ *
 *  Menu  *
 * ------ */

header {
  background: $base;
  padding: 1.5em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

nav {
  width: 100%;
  max-width: $max;
  margin: 0 auto;
  padding: 0 1.5em;
  @include bp(medium) {
    padding: 0 3em;
  }
}

nav a {
  text-decoration: none !important;
  color: white;
  font-weight: 600;
  &:hover {
    opacity: .7;
  }
}

@media (hover: none) {
  nav a:hover {
    opacity: 1;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav li {
  display: inline-block;
  margin-left: 1em;
  &:first-child {
    position: relative;
    margin: 0;
    flex-basis: 100%;
  }
}
