/* ---------- *
 *  Variables *
 * ---------- */

//Colors
$base: #3e3e3e; // Dark Gray
$secondary: #f1f1f1; // Light Gray

//Font Family
$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", sans-serif;

//Max Width
$max: 1200px;
