/* ----------- *
 *  Variables  *
 * ----------- */

//Colors
$base: #121212; // Black
$secondary: #717171; // Light Gray
$tertiary: #272727; // Medium Gray
$highlight: #fdc02f; // Orange/Yellow

//Font Family
$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", sans-serif;

//Max Width
$max: 1200px;
