//Variables
@import "_vars";

//Generic
@import "generic/_reset";
@import "generic/_mixins";

//Base
@import "base/_main";
@import "base/_links";
@import "base/_grid";
@import "base/_images";
@import "base/_paragraphs";
@import "base/_buttons";
@import "base/_animation";

//Objects
@import "objects/_menu";
@import "objects/_footer";
@import "objects/_home";
@import "objects/_project";
@import "objects/_404";
