/* ------- *
 *  MIXINS *
 * ------- */

@mixin bp($breakpoint) {
  //Small is the default
  @if $breakpoint == "medium" {
    @media (min-width: 40em) {
      @content;
    }
  }
  @else if $breakpoint == "large" {
    @media (min-width: 60em) {
      @content;
    }
  }
  @else if $breakpoint == "xl" {
    @media (min-width: 80em) {
      @content;
    }
  }
}
