/* ------------ *
 *     Grid     *
 * ------------ */
 .grid {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: flex-start;
 }

 .grid--wrap {
   &:after {
     content: "";
     flex: auto;
   }
 }

 .grid--center {
   justify-content: center !important;
   flex-flow: column !important;
   align-items: center !important;
 }

 // Item Alignment
 .cell {
   box-sizing: border-box;
 }

 .cell--top {
  align-self: flex-start !important;
 }

 .cell--middle {
  align-self: center !important;
 }

 .cell--bottom {
  align-self: flex-end !important;
 }

 //Item Sizing
 .cell--quarter {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 25%;
  }
 }

 .cell--third {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 33.333%;
  }
 }

 .cell--half {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 50%;
  }
 }

 .cell--two-thirds {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 66.666%;
  }
 }

 .cell--full {
  flex: 0 0 100%;
 }
