/* ------------ *
 *     Grid     *
 * ------------ */
 .grid {
   display: block;
   @include bp(medium) {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: flex-start;
   }
 }

 .grid--wrap {
   &:after {
     content: "";
     flex: auto;
   }
 }

 .grid--container {
   max-width: $max;
   margin: 0 auto;
   padding: 1em;
   @include bp(medium) {
     padding: 2em;
   }
 }

 .grid--stretch {
   align-items: stretch !important; /* align items in Cross Axis */
   align-content: stretch !important; /* Extra space in Cross Axis */
 }

 .grid--center {
   justify-content: center !important;
   flex-flow: column !important;
   align-items: center !important;
 }

 // Item Alignment
 .cell {
   box-sizing: border-box;
 }

 .cell--top {
  align-self: flex-start !important;
 }

 .cell--middle {
  align-self: center !important;
 }

 .cell--bottom {
  align-self: flex-end !important;
 }

 //Item Sizing
 .cell--quarter {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 25%;
  }
 }

 .cell--third {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 33%;
  }
 }

 .cell--half {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 49%;
  }
 }

 .cell--two-thirds {
  width: 100%;
  @include bp(medium) {
    flex: 0 0 66%;
  }
 }

 .cell--full {
  flex: 0 0 100%;
 }
