/* ------------ *
 *  Paragraphs  *
 * ------------ */

.container p {
	font-size: 1em;
	line-height: 1.65;
	max-width: 600px;
	margin: 0 0 2em 0;
}

.container .strike {
	text-decoration: line-through;
	color: gray;
}

.container strong, .container em {
	font-weight: bold;
}
